.DS_Store
.idea/
.vscode/
*.log
*.swp

api-service/vendor/
api-service/var/
api-service/bin/*
!api-service/bin/console
!api-service/bin/db-migrations

api-service/.env.dev
api-service/.env.test
api-service/config/jwt/

api-service/coverage/
api-service/build/

web-user/node_modules
web-user/dist
web-user/.env.local
